1. In the below elements which of them are values or an expression? <br>
eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

<b>Answer:</b>

Here 'hello', -87.8 and 6 are values whereas *,-,/,+ are the expressions

<hr>

2. What is the difference between string and variable?

<p><u><b>String:</b></u> A string basically the sequence of character which are enclosed between the double quotes.<br>
eg: "iNeuron" is a string because it is a sequence of character and it is enclosed between the double quotes.

<u><b>variable:</b></u> Variable basically are the names that are given to some memory location. We can store values inside the varibale name
and use the value whenever we need.

eg: age, myName, temp are same variable names.</p>

In [1]:
# Lets see strings in Python
myName = "Harsh Kumar" # Here myName is a variable name whereas "Harsh Kumar" is a string
print(myName) # We can access the value inside the variable just using the name of the variable
type(myName) # we can check the type using type function

Harsh Kumar

str

<hr>

3. Describe three different data types.

In [2]:
'''
The three datatypes are: 
-> Interger
-> String
-> Float
'''

# Lets see all these datatypes in Python
var = 10 # var is an Integer Variable
print(var)
type(var)

10

int

In [3]:
name = "iNeuron" # name is a String variable
print(name)
type(name)

iNeuron

str

In [4]:
num = 3.14 # name is a Float variable
print(num)
type(num)

3.14

float

<hr>

4. What is an expression made up of? What do all expressions do?

<p><u><b>Expression:</b></u> An expression is the combination of operands and different types of operators<br>
Eg: a + b*c is an example of expressions.

<u><b>Components of an Expressions:</b></u> There are mainly two components: 
<ol>
    <li>operator</li>
    <li>operands</li>
</ol>
    
<u><b>Use of Expressions: </b></u> There are some use of expressions:
<ul>
    <li>This is basically used to express the calclutions and to find out a valid after calclution.</li>
    <li>This is used to make the statements which are used to writing instructions in a program.</li>
</ul>
</p>

In [5]:
# Expressions
'I have eaten ' + str(99) + ' burritos.' # this is an expression

'I have eaten 99 burritos.'

<hr>

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

<p>
The basic difference between the expression and statements is that the expressions are used to make the statements but statements do not make expressions.<br>
Eg: a = 5*6 + 63 <br>
    This complete line is called an assignment statement whereas 5*6 + 63 is an expression.
</p>

In [6]:
# Statements vs Expression
sentence = 'I have eaten ' + str(99) + ' burritos.' # Here the complete line is statement and the RHS side text is an expression
print(sentence)

I have eaten 99 burritos.

<hr>

6. After running the following code, what does the variable bacon contain?<br>
bacon = 22<br>
bacon + 1

<b>Answer: </b>The variable bacon conatins 22 as a value after running the following code because we add the 1 in the bacon variable but don't assign the value to the bacon variable

In [7]:
bacon = 22
bacon + 1
print(bacon)

22

<hr>

7. What should the values of the following two terms be?<br>
&#39;spam&#39; + &#39;spamspam&#39;<br>
&#39;spam&#39; * 3

<b>Answer: </b>The first statement the shows the <i>concatenation operation</i> of the string and the result of the first statement is 'spamspamspam'.<br>
The second statement shows the <i>multiplying operation</i> of the string and the result of the statemnt is 'spamspamspam'.

In [8]:
# Concatenation opeartion
fname = "Harsh"
lname = "Kumar"

fullName = fname + " " + lname
print(fullName)

Harsh Kumar

In [9]:
# Multiplying Oparation
name = "Harsh"
mulName = name*3
print(mulName)

HarshHarshHarsh

<hr>

8. Why is eggs a valid variable name while 100 is invalid?

<b>Answer: </b>eggs is a valid variable name because eggs is start with an alphabet and do not contain any special symbol whereas 100 is not a valid variable because a variable name can't start with a digit.

In [10]:
eggs = 10 # Valid
100 = 'Harsh' # Invalid

SyntaxError: cannot assign to literal (Temp/ipykernel_1640/4199638956.py, line 2)

<hr>

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

<b>Answer: </b>The three functions that are used to get the integer, floating-point number, or string version of a value as follow:<br>
<ol>
    <li>int()</li>
    <li>float()</li>
    <li>str()</li>
</ol>

In [ ]:
# int() function
num = '23' # Here '23' is a string
intNum = int(num)
print(num)
type(intNum)

In [ ]:
# float() function
num1 = '485' # Here '23' is a string
floatNum = float(num1)
print(floatNum)
type(floatNum)

In [ ]:
# str() function
num2 = 1000
string = str(num2)
print(string)
type(string)

10. Why does this expression cause an error? How can you fix it?<br>
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

<b>Answer: </b>This expression causes error because we are trying to concatenate the string with an integer. we can fix this error by using Typecasting. we can typecast 99 into string using str() function.

In [ ]:
# 'I have eaten ' + 99 + ' burritos.' -->  Produce an error
# Fix the error
'I have eaten ' + str(99) + ' burritos.'